NWC/NWC/Service References/Matches/Matches.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllMatches">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMatchesResult" type="tns:ArrayOfMatches" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMatches">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="matches" nillable="true" type="tns:matches" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="matches">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Competitor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChildPrice" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AdultPrice" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsessionPrice" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CompetitorImage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListMatches">
        <s:complexType />
      </s:element>
      <s:element name="ListMatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMatchesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatchInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatchInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MatchInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="matchid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tickettype" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMatches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfMatches" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMatchesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBookings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appkey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBookingsResult" type="tns:ArrayOfSingleTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSingleTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SingleTicket" nillable="true" type="tns:SingleTicket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SingleTicket">
        <s:complexContent mixed="false">
          <s:extension base="tns:tickets">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="match" type="tns:matches" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="tickets">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BookingReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BookingDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MatchId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMatchesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMatches" />
  </wsdl:message>
  <wsdl:message name="GetAllMatchesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="ListMatchesSoapIn">
    <wsdl:part name="parameters" element="tns:ListMatches" />
  </wsdl:message>
  <wsdl:message name="ListMatchesSoapOut">
    <wsdl:part name="parameters" element="tns:ListMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="MatchInfoSoapIn">
    <wsdl:part name="parameters" element="tns:MatchInfo" />
  </wsdl:message>
  <wsdl:message name="MatchInfoSoapOut">
    <wsdl:part name="parameters" element="tns:MatchInfoResponse" />
  </wsdl:message>
  <wsdl:message name="BookTicketSoapIn">
    <wsdl:part name="parameters" element="tns:BookTicket" />
  </wsdl:message>
  <wsdl:message name="BookTicketSoapOut">
    <wsdl:part name="parameters" element="tns:BookTicketResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMatchesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMatches" />
  </wsdl:message>
  <wsdl:message name="UpdateMatchesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBookings" />
  </wsdl:message>
  <wsdl:message name="GetAllBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBookingsResponse" />
  </wsdl:message>
  <wsdl:portType name="MatchesSoap">
    <wsdl:operation name="GetAllMatches">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Request list of matches</wsdl:documentation>
      <wsdl:input message="tns:GetAllMatchesSoapIn" />
      <wsdl:output message="tns:GetAllMatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMatches">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Request list of matches</wsdl:documentation>
      <wsdl:input message="tns:ListMatchesSoapIn" />
      <wsdl:output message="tns:ListMatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MatchInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Request specific match info</wsdl:documentation>
      <wsdl:input message="tns:MatchInfoSoapIn" />
      <wsdl:output message="tns:MatchInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Make a booking</wsdl:documentation>
      <wsdl:input message="tns:BookTicketSoapIn" />
      <wsdl:output message="tns:BookTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMatches">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update list of matches (internal api)</wsdl:documentation>
      <wsdl:input message="tns:UpdateMatchesSoapIn" />
      <wsdl:output message="tns:UpdateMatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBookings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Request list of bookings (internal api)</wsdl:documentation>
      <wsdl:input message="tns:GetAllBookingsSoapIn" />
      <wsdl:output message="tns:GetAllBookingsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MatchesSoap" type="tns:MatchesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMatches">
      <soap:operation soapAction="http://tempuri.org/GetAllMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMatches">
      <soap:operation soapAction="http://tempuri.org/ListMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchInfo">
      <soap:operation soapAction="http://tempuri.org/MatchInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <soap:operation soapAction="http://tempuri.org/BookTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMatches">
      <soap:operation soapAction="http://tempuri.org/UpdateMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBookings">
      <soap:operation soapAction="http://tempuri.org/GetAllBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MatchesSoap12" type="tns:MatchesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMatches">
      <soap12:operation soapAction="http://tempuri.org/GetAllMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMatches">
      <soap12:operation soapAction="http://tempuri.org/ListMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchInfo">
      <soap12:operation soapAction="http://tempuri.org/MatchInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <soap12:operation soapAction="http://tempuri.org/BookTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMatches">
      <soap12:operation soapAction="http://tempuri.org/UpdateMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBookings">
      <soap12:operation soapAction="http://tempuri.org/GetAllBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Matches">
    <wsdl:port name="MatchesSoap" binding="tns:MatchesSoap">
      <soap:address location="http://localhost:49170/Matches.asmx" />
    </wsdl:port>
    <wsdl:port name="MatchesSoap12" binding="tns:MatchesSoap12">
      <soap12:address location="http://localhost:49170/Matches.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>